* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "BPG Nino Mtavruli", sans-serif;
    // src: url("../fonts/bpg-nino-mtavruli-webfont.woff") format('woff')
}

@font-face {
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/bpg-nino-mtavruli-webfont.woff") format('woff')
}