* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 65.5%;
    font-family: 'nino_mtavruli';
}
