$color-1: #0E0E0E;
$color-2: #FFFFFF;
$color-3: #1C70B1;
$color-4: #8F419D;
$color-5: #ED1943;
$color-6: #585858;
$color-7: #5C2E91;
$color-8: #333C4E;
$color-9: #737373;
$color-10: #E2068C;
$color-11: #F6CE1D;
$color-12: #008EAF;
$color-13: #E6E6E6;
$color-14: rgba(0, 0, 0, .6);
$color-15: #ABABAB;
