header {
    padding: 36px 0;

    .wrap {
        display: flex;
        justify-content: space-between;
        width: 86%;
        margin: 0 auto;

        nav {

            ul {
                display: flex;

                li:first-child {

                    a {
                        color: $color-2;
                    }
                }

                .lang {
                    width: 45px;
                    height: 45px;
                    margin-right: 5px;
                    padding-top: 17px;
                    padding-left: 2px;
                    border-radius: 25px;
                    font-size: 13px;
                    text-align: center;
                    text-transform: uppercase;
                }

                .langActive {
                    background-color: $color-3;
                }

                .profile {
                    width: 160px;
                    height: 45px;
                    margin: 0 20px 0 17px;
                    padding-top: 18px;
                    border-radius: 25px;
                    background-color: #8F419D;
                    font-size: 14px;
                    text-align: center;
                    
                    a {
                        color: $color-2;
                    }
                }

                .search {
                    width: 45px;
                    height: 45px;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        padding: 12px 0 0 19px;
                        background-image: url("/images/header/Search.png");
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }

                .burgerMenu {
                    width: 45px;
                    height: 45px;
                    margin-left: 20px;
                    border-radius: 25px;
                    background-color: $color-5;

                    &::before {
                        content: '';
                        display: inline-block;
                        width: 46px;
                        height: 43px;
                        background: center;
                        background-image: url("/images/header/burger-menu.png");
                        background-repeat: no-repeat;
                    }
                }
            }
        }
    }
}
